/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
     overflow: hidden;
     font-size: 62.5%;
}


/******************************************
/* LAYOUT
/*******************************************/
.main{
     animation: animate 90s infinite;
     background: url(https://wallpapercave.com/wp/2wuJNqK.jpg);
     height: 100vh;     
     width: 100vw;
     margin: 0;
     padding: 0;
}
.box{
     position: absolute;
     bottom: 0;
     height: 100%;
     width: 100%;
     z-index: 2;
     mix-blend-mode: lighten;

}

@keyframes animate{
     0%{
          background-position: 0 100%;;
     }
     50%{
          background-position: 100% 100%;
     }
     100%{
          background-position: 0 100%
     }
}

section{
    padding: 0 5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

#title{
     margin-top: 20px;
     padding-top: 20px;
}

h1{
       margin: 50px 0 0 0;
}
h1, h2{
    font-family: 'Acme', sans-serif;
    font-size: 4rem;
}

form{
     margin: 20px 0 0 0;
     display: flex;
     flex-flow: column;
     justify-content: center;

}
label{
     font-family: 'Hind Madurai', sans-serif;
     font-size: 1.2rem;
}

input{
     border-radius: 8px;
}

#monthBorn, #dayBorn{
     height: 2rem;
     width: 10rem;
     margin: 5px;
     font: 400 normal 1rem 'Hind Madurai', sans-serif;
     text-align: center;
}

#submit{
     margin: 10px;
     padding: 6%;
     color: rgba(246, 242, 241, 1);
     font-size: 1.7rem;
     text-decoration: none;
     border-radius: 20px;
     border-top: 2px solid  rgba(25, 212, 250, .5);
     border-left: 2px solid  rgba(25, 212, 250, .5);
     border-right: 2px solid rgba(236, 192, 237, 0.502);
     border-bottom: 2px solid rgba(236, 192, 237, 0.4);
     background: linear-gradient(100deg, rgba(25, 212, 250, 0.4),rgba(236, 192, 237, 0.4));
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden{
	display: none;
}

/******************************************
/* Media Query
/*******************************************/

@media screen and (max-width: 713px){
     #title{
          margin-top: 0;
          padding-top: 0;
     }
}